html {
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-datepicker-wrapper {
  display: block;
  width: 100%;
}

.react-datepicker-wrapper > div {
  width: 100%;
}

/* ------------------------------------ */
/*  TODO:Start to think about themes    */
/* ------------------------------------ */

.label {
  color: #0071bd;
  font-weight: 700;
  font-size: 1.4rem;
}

.label::first-letter {
  text-transform: capitalize;
}

.title {
  color: #0071bd;
  font-size: 1.8rem;
}

.text {
  color: #707070;
  font-size: 1.1rem;
}
/* ----------------------------------- */
