/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerCloseIcon {
  margin: '4px';
}

/* MOBILITIES */
.mobilities {
  display: flex;
  width: 100%;
  padding-bottom: 5px;
  overflow-x: visible;
  overflow-y: hidden;
}
.mobility {
  min-width: 120px;
  margin: 5px; /* Align items horizontaly as the Menu add a padding on each 'item'*/
}
.mobilityLink {
  composes: text capitalized from global;
  display: block;
}

/* BODY */
.bodyContainerStyle {
  composes: borderless from global; /* remove ugly border on tablet landscape mode */
  flex-grow: 1 !important; /* the body should be scrollable if the height is too low (table landscape mode) */
  flex-shrink: 1 !important; /* let the body shrink until the footer */
  overflow-y: auto;
}

.bodySectionEntry {
  composes: text capitalized from global;
}
